/* this css file is to setting the color or background-color of every page */
/* index page */
body {
    background-image: linear-gradient(180deg, 
		#f0d3d3 0%, 
		#e9cdcd 32%, 
		#938282 72%, 
		#786a6a 100%);
}

.navigation a {
    color: #000;
}

.index-body {
    background-color: #61a398;
}

.left .index-location #location {
    background-color: rgba(255,255,255,.5);
}

#discount {
    color: #fff;
}

#discount-number {
    color: #fff;
}

#order-now {
    color: #000;
    background-color: #fff;
}

.left .index-recommend {
    color: #fff;
}

/* location page */
.top .location-top1 {
    color: #000;
}

.location-detail .location-name2 {
    color: #ccc;
}

#lo-name {
    color: #fff;
    background-color: #000;
}

/* menu page */
.top .menu1 {
    background-color: rgba(255,255,255,.5);
}
.menu-detail {
    color: #fff;
}

.menu-detail2 {
    color: #707070;
}

.menu-detail3 .menu-detail4 {
    background-color: #fff;
}

/* product page */
.product-right span {
    color: #fff;
}

.product-right .product-bottom p {
    color: #ffd7d7;
}

#pro-add {
    background-color: #fff;
}

/* cart page */
.cart-top .your-cart {
    color: #000;
}
main-cart .cart-order {
    background-color: #f7e2e2;
  }
  
  main-cart .cart-order h3 {
    color: #0b0101;
  }
  
  main-cart .box{
    background-color: #fff;
  }
  
  main-cart .top button{
    background-color: green;
    color: white;
  }
  
  main-cart .foot span:nth-of-type(2){
    color: green;
  }
  
  main-cart .foot button{
    background-color: #000;
    color: white;  
  }
  main-cart .foot span:nth-of-type(2){
    font-size: 18px;
  }

  /* checkout page */
  main-checkout .item-summary input {
    color:#444;
}

main-checkout .container form{
    background: #fff;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

main-checkout .container form .inputBox span{
    color:#999;
}

main-checkout .container form .inputBox input,
.container form .inputBox select{
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

main-checkout .container form .submit-btn{
    background:linear-gradient(45deg, #e9cdcd, #786a6a);
    color:#fff;
}

main-checkout .container .card-container .front{
    background:linear-gradient(80deg, #e9cdcd, #786a6a);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

main-checkout .container .card-container .front .card-number-box{
    color:#fff;
}

main-checkout .container .card-container .front .flexbox .box{
    color:#fff;
}

main-checkout .container .card-container .back{
    background:linear-gradient(80deg, #e9cdcd, #786a6a);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

main-checkout .container .card-container .back .stripe{
    background: #000;
}

main-checkout .container .card-container .back .box span{
    color:#fff;
}

main-checkout .container .card-container .back .box .cvv-box{
    color:#333;
    background: #fff;
}