.nav li a {
    color: #171515;
}

.nav li a:hover {
    color:green;
}

.search {
    background-color: #f3f5f7;
}

.search input {
    background-color: transparent;
}

.search input::placeholder {
	color: #000000;
	opacity: 0.2;
}

.main1 .location1{
    background-color: #ffffff;
    color: #000000;
}

.main1 a {
    color: #000000;
}

.main1 .index-location a:hover {
    color:#ffffff
}

.main1 h1 {
	color: #ffffff;
}

.main1 p {
    color: #ffffff;
}

.main1 .order {
    background-color: #ffffff;
}

.main1 .order:hover {
    background-color: #efd2d2;
    color: #ffffff;
}

.main1 .hd h3 {
    color: #000000;
}

.main1 .hd a {
    color: #000;
}

.main1 .hd a:hover {
    color: #ffffff;
}

.bd li .re-price {
    color: #fcf5f5;
}

header-location h1 {
	color: #171515;
}

header-location .wrapper {
    color: #000000;    
}

main-location .location-choose {
    background-color: #fff;
}

main-location .choose-location .way {
	color: #000000;
}

main-location .choose-location .distance {
	color: #000000;
}

.location-choose .confirm {
    background-color: #000;
    color: #ffefef;
}

.location-choose .confirm:hover {
    background-color: #efd2d2;
    color: #000;
}

main-confirm h1 {
	color: #000000;
}

main-confirm h3 {
	color: #0b0101;
}

main-confirm p {
	color: #0b0101;
}

#customer-name {
	color: #0b0101;
}

main-menu ul li {
	color: #fcf7f7;
}

main-menu ul li:hover {
    box-shadow: 0px 3px 6px 0px 
		rgba(0, 0, 0, 0.16);
}

#item-name {
	color: #707070;
}

#item-des {
	color: #707070;
}

tab-content .item .description a:hover {
    color: #786a6a;
}

tab-content .item {
    background-color: #fff;
}

#description2 {
	color: #ffffff;
}

.price {
    color: #ffd6d6;
}

.price button {
    background-color: #ffffff;
}

header-cart .position {
	color: #0b0101;
}

header-cart .position a:hover {
    color: #fff;
}

main-cart .cart-order {
	background-color: #f7e2e2;
}

main-cart .cart-order h3 {
	color: #0b0101;
}

main-cart .box{
    background-color: #f7e2e2;
}

main-cart .top button{
    background-color: green;
    color: white;
}

main-cart .foot span:nth-of-type(2){
    color: green;
}

main-cart .foot button{
    background-color: #000;
    color: white;
}