.nav li a {
    color: #171515;
}

.nav li a:hover {
    color:green;
}

.search {
    background-color: #f3f5f7;
}

.search input {
    background-color: transparent;
}

.search input::placeholder {
	color: #000000;
	opacity: 0.2;
}

.main1 .location1{
    background-color: #ffffff;
    color: #000000;
}

.main1 a {
    color: #000000;
}

.main1 h1 {
	color: #ffffff;
}

.main1 p {
    color: #ffffff;
}

.main1 .order {
    background-color: #ffffff;
}

.main1 .hd h3 {
    color: #000000;
}

.main1 .hd a {
    color: #000;
}

.bd li .re-price {
    color: #fcf5f5;
}