body {
	width: 1920px;
	height: 1080px;
	background-image: linear-gradient(180deg, 
		#f0d3d3 0%, 
		#e9cdcd 32%, 
		#938282 72%, 
		#786a6a 100%);
}
.wrapper {
    margin: 0 auto;
    width: 48.53rem;
}
header {
    display: flex;
}

.logo img {
    height: 50px;
    width: 226px;
    margin-top: 50px;
    margin-left: 67px;
}

.nav {
    margin-left: 270px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-top: 66px;
    margin-right: 30px;
}

.search {
    display: flex;
    margin-top: 60px;
    margin-left: 266px;
    padding-right: 18px;
    width: 287px;
    height: 50px;
    border-radius: 12px;
}

.search input {
    flex: 1;
    border: 0;
    outline: none;
}

.search img {
    align-self: center;
    width: 31px;
    height: 31px;
    opacity: 0.5;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.main1 {
    display: flex;
    flex-direction: column;
    background-color: #61a398;
    margin-left: 50px;
    width: 929px;
    height: 904px;
    border-radius: 15px 0 0 15px;

}

.main2 {
    margin-right: 50px;
    width: 891px;
    height: 904px;
}

.index-location {
    display: flex;
}



.main1 .location1 {
    margin-left: 28px;
    margin-top: 14px;
    width: 127px;
    height: 41px;
    border-radius: 12px;
    border: solid 1px #000000;
    opacity: 0.5;
}

.main1 .location img { 
    margin-top: 24px;
    margin-left: 1px;
    width: 22px;
    height: 22px;
	background-image: linear-gradient(90deg,);
	opacity: 0.5;
}

.main1 a {
    display: block;
    margin-top: 23px;
    margin-left: 7px;
}

.main1 h1 {
    margin-left: 197px;
    margin-top: 28px;
}

.main1 p {
    margin-top: 36px;
    margin-left: 288px;
    width: 406px;
	height: 86px;
}

.main1 .order {
    margin-left: 340px;
    margin-top: 54px;
    width: 280px;
	height: 50px;
	border-radius: 16px;
}

.recommend {
    margin-top: 70px;
}

.main1 .hd { 
    display: flex;
    justify-content: space-between;
    margin-top: 86px;
}

.main1 .hd h3 {
    margin-left: 29px;
}

.main1 .hd a {
    margin-right: 41px;
    opacity: 0.5;
}

.bd ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 19px;
}

.bd li img {
    width: 200px;
    height: 180px;
    border-radius: 15px;
}

.main2 img {
    height: 904px;
    width: 891px;
    border-radius: 0 15px 15px 0;
}

footer {
    margin-top: 20px;
    margin-left: 380px;
}

header-location h1 {
    margin-left: 609px;
    margin-top: 100px;
}

header-location .wrapper {
    padding-left: 83px; 
}


main-location .location-choose {
    margin-top: 8px;
    margin-left: 107px;
    width: 1706px;
    height: 650px;
}

main-location .choose-location {
    display: flex;
    margin-top: 45px;
}

main-location .choose-location input {
    margin-left: 436px;
    width: 30px;
    height: 30px;
}

main-location .choose-location .location-name {
    margin-left: 59px;
}

main-location .choose-location .way {
    margin-left: 51px;
}

main-location .choose-location img {
    margin-left: 102px;
}

main-location .choose-location .distance {
    padding-top: 50px;
    margin-left: 83px;
}

#id {
    margin-left: 70px;
}

.location-choose .confirm {
    margin-left: 30px;
    width: 290px;
	height: 80px;
    border: 0;
    outline: none;
}

.logo-confirm {
    margin-top: 50px;
    margin-left: 775px;
    width: 371px;
    height: 82px;
}

header-confirm a img {
    margin-left: 50px;
    width: 40px;
    height: 40px;
}

main-confirm .smell {
    margin-left: 695px;
}

main-confirm h1 {
    margin-left: 480px;
}

main-confirm .line {
    margin-left: 115px;
    width: 1690px;
	height: 0px;
    border: solid 1px #707070;
}

main-confirm h3 {
    margin-top: 10px;
    margin-left: 800px;
}

main-confirm p {
    margin-left: 740px;
}

#customer-name {
    margin-left: 786px;
}

.check-order {
    margin-top: 28px;
    margin-left: 740px;
}

#classic-bowl {
    margin-top: 0px;
}

main-confirm .subtotal {
    margin-top: 10px;
    margin-left: 720px;
}

.logo-menu img {
    margin-top: 50px;
    margin-left: 67px;
    width: 226px;
	height: 50px;
}

.menu-button {
    display: flex;
    justify-content: space-between;
}

.menu-button .menu-cart {
    padding-right: 65px;
}

header-menu .menu-title{
    margin-left: 529px;
}

#green-food {
    padding-left: 230px;
}

#menu-search {
    margin-left: 700px;
}

main-menu ul {
    display: flex;
    margin-top: 20px;
}

main-menu ul li {
    margin-left: 50px;
}
tab-content {
    display: flex;
    justify-content: space-around;
}

tab-content .item {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    width: 735px;
    height: 300px;
    border-radius: 15px 0px 0px 15px;
}

tab-content .item img {
    width: 404px;
    height: 302px;
}

header-product h1 {
    margin-top: 7px;
    margin-left: 87px;
}

main-product {
    display: flex;
}

main-product img {
    margin-top: 25px;
    margin-left: 87px;
    width: 873px;
	height: 654px;
	border-radius: 15px;
}
detail-product {
    display: flex;
}

#description {
    margin-top: 35px;
    margin-left: 40px;
}

#description2 {
    margin-top: 17px;
    margin-left: 40px;
}

.checkbox .checkbox-detail {
    display: flex;
    justify-content: space-between;
}

.checkbox .checkbox-detail img {
    margin-top: -1px;
    width: 30px;
	height: 30px;
}

main-product .checkbox {
    margin-left: 40px;
    margin-top: 70px;
    width: 750px;
    height: 195px;
    background-color: #ebdede;
    border-radius: 15px;
}

main-product .checkbox h3 {
    padding-left: 23px;
}

main-product .checkbox input {
    margin-left: 23px;
}

.price {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-top: 43px;
    padding-top: 60px;
}

.price button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

header-cart .wrapper img {
    margin-top: 52px;
    margin-left: 300px;
    width: 371px;
	height: 82px;
}

header-cart a img {
    margin-left: 50px;
}

header-cart h1 {
    margin-left: 115px;
    margin-top: 9px;
}

header-cart h3 {
    margin-left: 120px;
    margin-top: 10px;
}

header-cart .position {
    display: flex;
    justify-content: space-between;
}

header-cart .position img {
    margin-left: 125px;
    margin-top: 15px;
    width: 39px;
	height: 39px;
	opacity: 0.5;
}

header-cart .position a {
    margin-right: 148px;
}

header-cart .line {
    margin-left: 44px;
    margin-top: 28px;
    width: 1800px;
	height: 0px;
    border: solid 1px #707070;
}

main-cart .box{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

main-cart .top{
    padding: 20px 10px;
    align-items: center;
}

main-cart .top button{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

main-cart table{
    width: 880px;
    text-align: center;
    margin: 0 auto;  
}

main-cart table tr td{
    padding: 10px 0;
}

main-cart table tr td img{
    width: 230px;
    height: 170px;
}

main-cart table tr td input{
    width: 45px;
}

main-cart table tr td button{
    width: 20px;
    height: 20px;
}

main-cart .foot{
    width: 680px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px dotted gray;
}

main-cart .foot span:nth-of-type(2){
    margin-right: 150px;
}

main-cart .foot button{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

header-checkout .wrapper img {
    margin-top: 52px;
    margin-left: 300px;
    width: 371px;
	height: 82px;
}

header-checkout a img {
    margin-left: 50px;
}

header-checkout h1 {
    margin-top: 26px;
    margin-left: 860px;
    font-family: Elephant;
	font-size: 80px;
	font-weight: 700;
	line-height: 98px;
}

main-checkout {
    display: flex;
    justify-content: space-around;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
}

main-checkout .item-summary {
    margin-top: 110px;
    width: 789px;
	height: 264px;
    border-radius: 15px;
}

main-checkout .item-summary h3 {
    margin-left: 11px;
}

main-checkout .item-summary .price-checkout {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}

main-checkout .item-summary input {
    margin-left: 12px;
    width: 400px;
	height: 94px;
	border-radius: 15px;
    border:2px solid rgba(0,0,0,.3);
}

#sub-checkout {
    margin-top: 10px;
    margin-left: 12px;
}


main-checkout .container{
    margin-left: 122px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

main-checkout .container form{
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

main-checkout .container form .inputBox{
    margin-top: 20px;
}

main-checkout .container form .inputBox span{
    display: block;
    padding-bottom: 5px;
}

main-checkout .container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

main-checkout .container form .flexbox{
    display: flex;
    gap:15px;
}

main-checkout .container form .flexbox .inputBox{
    flex:1 1 150px;
}

main-checkout .container form .submit-btn{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

main-checkout .container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

main-checkout .container .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

main-checkout .container .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    border-radius: 5px;
    backface-visibility: hidden;
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

main-checkout .container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

main-checkout .container .card-container .front .image img{
    height: 50px;
}

main-checkout .container .card-container .front .card-number-box{
    padding:30px 0;
}

main-checkout .container .card-container .front .flexbox{
    display: flex;
}

main-checkout .container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

main-checkout .container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

main-checkout .container .card-container .back .stripe{
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

main-checkout .container .card-container .back .box{
    padding: 0 20px;
}

main-checkout .container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

main-checkout .container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}