.nav li a {
    font-size: 30px;
    font-family: Mukta Mahee;
}

.search input::placeholder {
    font-family: Mukta Mahee;
	font-size: 20px;
    line-height: 34px;
	letter-spacing: 0px;
}


.main1 .location1 {
    font-family: ITF Devanagari;
    font-size: 18px;
    line-height: 27px;
}

.main1 a {
    font-family: ITF Devanagari;
    font-size: 18px;
    line-height: 27px;
}

.main1 h1 {
    font-family: ITF Devanagari;
	font-size: 77px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 116px;
	letter-spacing: 0px;
}

.main1 p {
    font-family: Elephant;
	font-size: 70px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 86px;
	letter-spacing: 0px;
}

.main1 .order {
    font-family: ITF Devanagari;
	font-size: 35px;
	line-height: 53px;
}

.main1 .hd h3 {
    font-size: 35px;
    font-family: ITF Devanagari;
	font-stretch: normal;
}

.main1 .hd a {
    font-size: 25px;
    font-family: ITF Devanagari;
}

.bd li .re-price {
    font-size: 30px;
    font-family: Mukta Mahee;
    text-align: center;
}

header-location h1 {
    font-family: Elephant;
	font-size: 90px;
    line-height: 111px;
}

header-location .wrapper {
    font-family: ITF Devanagari;
	font-size: 40px;
    line-height: 60px;
    font-weight: 700;    
}

main-location .choose-location .location-name {
    font-family: ITF Devanagari;
	font-size: 30px;
    line-height: 46px;
    font-weight: 700;
}

main-location .choose-location .way {
    font-family: ITF Devanagari;
	font-size: 20px;
	line-height: 38px;
	opacity: 0.5;
}

main-location .choose-location .distance {
    font-family: Mukta Mahee;
	font-size: 15px;
	line-height: 34px;
	opacity: 0.5;
}

.location-choose .confirm {
    font-family: ITF Devanagari;
	font-size: 30px;
	line-height: 46px;
}

main-confirm h1 {
    font-family: Elephant;
	font-size: 100px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 122px;
}

main-confirm h3 {
    font-family: ITF Devanagari;
	font-size: 40px;
	font-weight: 700;
	font-stretch: normal;
	line-height: 60px;
	letter-spacing: 0px;
}

main-confirm p {
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 46px;
	letter-spacing: 0px;
}

#customer-name {
    font-family: ITF Devanagari;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 46px;
	letter-spacing: 0px;
}

.check-order {
    font-family: Mukta Mahee;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 34px;
	letter-spacing: 0px;
}

main-confirm .subtotal {
    font-family: Mukta Mahee;
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0px;
}

header-menu .menu-title{
    font-family: Elephant;
	font-size: 80px;
	line-height: 122px;
}

main-menu ul li {
    font-family: Mukta Mahee;
	font-size: 41px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 68px;
	letter-spacing: 0px;
}

#item-name {
    font-family: Mukta Mahee;
	font-size: 30px;
	line-height: 50px;
}

#item-des {
    font-family: Mukta Mahee;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0px;
}

tab-content .item .description a {
	font-family: Mukta Mahee;
	font-size: 30px;
	line-height: 50px;
}

header-product h1 {
	font-family: Elephant;
	font-size: 80px;
	line-height: 98px;
}

#description {
    font-family: Mukta Mahee;
	font-size: 40px;
    font-weight: 700;
	line-height: 66px;
}

#description2 {
    font-family: Mukta Mahee;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 50px;
	letter-spacing: 0px;
}

main-product .checkbox h3 {
	font-family: Mukta Mahee;
	font-size: 35px;
	font-weight: 700;
	line-height: 59px;
}

.price {
	font-family: Mukta Mahee;
	font-size: 50px;
}

.price button {
    font-family: ITF Devanagari;
	font-size: 20px;
    font-weight: 700;
    line-height: 53px;
}

header-cart h1 {
	font-family: Elephant;
	font-size: 80px;
	font-weight: 700;
	line-height: 98px;
}

header-cart h3 {
	font-family: Mukta Mahee;
	font-size: 40px;
	font-weight: 700;
	line-height: 66px;
}

header-cart .position {
	font-family: ITF Devanagari;
	font-size: 35px;
	font-weight: normal;
	line-height: 53px;
}

main-cart table tr td{
    font-family: Mukta Mahee;
}

main-cart table tr td input{
    text-align: center;
    outline: none;
}

main-cart table tr td p{
	font-size: 14px;
}

main-cart .foot span:nth-of-type(2){
    font-size: 18px;
}